<h1>Panel Components</h1>

<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Tab 1</p-tab>
      <p-tab value="1">Tab 2</p-tab>
      <p-tab value="2">Tab 3</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p class="m-0">
          Tab 1 Content
        </p>
      </p-tabpanel>
      <p-tabpanel value="1">
        <p class="m-0">
          Tab 2 Content
        </p>
      </p-tabpanel>
      <p-tabpanel value="2">
        <p class="m-0">
          Tab 3 Content
        </p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
